body {
  color: rgb(255, 255, 255);
}

/* Gives every page a full window height */
div .row.page {
  height: 100vh;
}

/* Google Maps properties */
#map {
  height: 63vh;
  width: 100%;
}

/* Landing page background */
#third-page-background {
  background: url(/static/images/pexels-photo-261187.jpeg) no-repeat center center;
}

/* Landing page styling */
.row.third.page {
  background: rgba(33, 4, 58, 0.9);
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Map and property detail page styling */
.row.fourth.page {
  font-family: 'Roboto', serif;
  font-size: 1.2em;
  color: rgb(0, 0, 0);
}

/* Top of map page header bar to return to search */
#page-up {
  height: 5vh;
  min-height: 40px;
  width: 100%;
  text-align: center;
  padding-top: 5px;
  font-size: 1.3em;
  font-family: 'Droid Serif', serif;
  background: rgba(134, 161, 54, 0.7);
  color: rgb(47, 63, 0);
}

/* Add padding around text in filters */
.filter {
  padding-top: 5px;
}

/* Styling for home info div */
#home-info-div {
  height: 10vh;
  min-height: 70px;
  background: rgba(33, 4, 58, 0.9);
  color: rgb(255, 255, 255);
  padding-top: 5px;
}

/* Styling for price comparison div */
#price-comparison-div {
  height: 40vh;
  min-height: 130px;
  padding: 55px;
  background: rgba(33, 4, 58, 0.9);
  color: rgb(255, 255, 255);
}

/* Styling for filters div */
#filter-div {
  height: 22vh;
  font-weight: bold;
  min-height: 130px;
  background: rgb(148, 121, 171);
  color: rgb(0, 0, 0);
  padding-top: 5px;
}

/* Text notification on bottom of map page below map */
#map-notification {
  height: 10vh;
  min-height: 70px;
  text-align: center;
  padding-top: 5px;
  font-size: 1.2em;
  font-family: 'Droid Serif', serif;
  color: rgb(255, 255, 255);
  background: rgb(148, 121, 171);
}

#details-page {
  background: url(/static/images/pw_pattern.png) repeat;
  height: 45vh;
}

.input-box {
  display: flex;
  justify-content: flex-start;
}

.input-box .currency {
  font-size: 16px;
  padding: 0 10px;
  color: rgb(0, 0, 0);
  border: 2px solid #ccc;
  border-right: 0;
  line-height: 2;
  border-radius: 7px 0 0 7px;
  background: white;
}

.input-box .percent {
  font-size: 16px;
  padding: 0 10px;
  color: #999;
  border: 2px solid #ccc;
  border-left: 0;
  line-height: 2;
  border-radius: 0 7px 7px 0;
  background: rgb(255, 255, 255);
}

#downpayment-percentage {
  font-size: 1.3em;
}

form input[id=mortgage-downpayment] {
  font-size: 16px;
  width: 130px;
  padding: 0;
  border: 2px solid #ccc;
  border-left: 0;
  color: #666;
  border-radius: 0 7px 7px 0;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
}

form input[id=mortgage-rate] {
  font-size: 16px;
  width: 80px;
  padding: 0 10px;
  border: 2px solid #ccc;
  border-right: 0;
  color: #666;
  border-radius: 7px 0 0 7px;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
}

/* Amount display for price slider bar */
#amount {
  border: 0;
  background: rgba(33, 4, 58, 0);
  color: rgb(255, 255, 255);
  font-weight: bold;
  padding-bottom: 8px;
}

/* Slider bar display for price slider */
#slider-range {
  width: 450px;
}

#search-bar {
  text-align: center;
  margin-top: -10%;
}

/* Landing page main text */
h1 {
  padding: 0 20px 80px 20px;
  font-size: 3.5em;
}

/* Landing page search bar text */
h4 {
  padding: 0 0 12px;
  font-family: 'Droid Serif', serif;
  font-size: 1.3em;
}

span#appname {
  color: rgb(134, 161, 54);
}

/* Landing page search box styling */
#address-search {
  color: rgb(33, 4, 58);
  width: 300px;
  height: 40px;
}

#citystatezip-search {
  color: rgb(33, 4, 58);
  width: 200px;
  height: 40px;
}

/* Landing search button */
#search-button {
  color: rgb(33, 4, 58);
  font-weight: bold;
  width: 100px;
  height: 41px;
  background: rgb(148, 121, 171);
  border: none;
  border-radius: 4px;
}

/* Address on details page */
#address {
  height: 42px;
  font-size: 1.3em;
  text-align: center;
  color: rgb(255, 255, 255);
}

/* Filter header styling */
#filter-header {
  font-size: 1.2em;
}

/* Filter button styling */
button.bed-bath-filters {
  width: 28px;
  height: 28px;
  font-weight: bold;
  background: rgb(148, 121, 171);
  color: rgb(33, 4, 58);
  border: 1px solid;
  border-radius: 15px;
  -moz-box-shadow: inset 0px 1px 0px 0px rgb(33, 4, 58);
  -webkit-box-shadow: inset 0px 1px 0px 0px rgb(33, 4, 58);
  box-shadow: inset 0px 1px 0px 0px rgb(33, 4, 58);
}

#bedroom-filter, #bathroom-filter {
  color: rgb(255, 255, 255);
}

/* Monthly payment amount on details page */
#monthly-payment {
  font-size: 3.5em;
  height: 100px;
  color: rgb(134, 161, 54);
}

/* Avg rent amounts on details page */
#avg-rent-by-br {
  font-size: 3.5em;
  height: 100px;
  color: rgb(134, 161, 54);
}

#avg-rent-by-sqft-div {
  font-size: 0.75em;
}

#avg-rent-by-sqft {
  color: rgb(134, 161, 54);
}

#calculator {
  padding: 25px 0 0 0;
}

.suggested-downpayment {
  font-size: 0.8em;
}

.loan-details {
  border-style: solid;
  border-color: rgb(0, 0, 0);
  border-width: 1px;
}
