body {
  color: #ffffff;
}

/* Gives every partition of the page a background */
.row {
  background: url(/static/images/ps_neutral.png) repeat;
}

/* Gives every page a full window height */
div .row.page {
  height: 100vh;
}

/* Google Maps properties */
#map {
  height: 72vh;
  width: 50%;
}

/* Landing page background */
#third-page-background {
  background: url(/static/images/pexels-photo-261187.jpeg) no-repeat center center;
  /*margin: -10px -15px -10px -15px;*/
}

/* Landing page styling */
.row.third.page {
  background: rgba(33, 4, 58, 0.9);
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Map and property detail page styling */
.row.fourth.page {
  font-family: 'Roboto', serif;
  font-size: 1.2em;
  background: rgba(33, 4, 58, .7);
  color: #000000;
}

/* Top of map page header bar to return to search */
#page-up {
  height: 5vh;
  min-height: 40px;
  width: 100%;
  text-align: center;
  padding-top: 5px;
  font-size: 1.3em;
  font-family: 'Droid Serif', serif;
  background-color: #86A136;
  color: #2F3F00;
}

/* Styling for filters div */
#filter-div {
  height: 18vh;
  min-height: 130px;
  background: rgba(33, 4, 58, 1);
  color: #ffffff;
}

/* Styling for price comparison div */
#price-comparison-div {
  height: 18vh;
  min-height: 130px;
  background: rgba(33, 4, 58, 1);
  color: #ffffff;
}

/* Text notification on bottom of map page below map */
#map-notification {
  min-height: 40px;
  height: 5vh;
  width: 50%;
  text-align: center;
  padding-top: 5px;
  font-size: 1.2em;
  font-family: 'Droid Serif', serif;
  color: #ffffff;
  background-color: #21043A;
}

.input-box {
  display: flex;
  justify-content: flex-start;
}

.input-box .currency {
  font-size: 16px;
  padding: 0 10px;
  color: #999;
  border: 2px solid #ccc;
  border-right: 0;
  line-height: 2;
  border-radius: 7px 0 0 7px;
  background: white;
}

.input-box .percent {
  font-size: 16px;
  padding: 0 10px;
  color: #999;
  border: 2px solid #ccc;
  border-left: 0;
  line-height: 2;
  border-radius: 0 7px 7px 0;
  background: white;
}

form input[id=mortgage-downpayment] {
  font-size: 16px;
  width: 130px;
  padding: 0;
  border: 2px solid #ccc;
  border-left: 0;
  color: #666;
  border-radius: 0 7px 7px 0;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
}

form input[id=mortgage-rate] {
  font-size: 16px;
  width: 80px;
  padding: 0 10px;
  border: 2px solid #ccc;
  border-right: 0;
  color: #666;
  border-radius: 7px 0 0 7px;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
}

/* Amount display for price slider bar */
#amount {
  border: 0;
  background: #21043A;
  color: #86A136;
  font-weight: bold;
}

/* Slider bar display for price slider */
#slider-range {
  width: 450px;
}

#search-bar {
  text-align: center;
  margin-top: -10%;
}

/* Landing page main text */
h1 {
  padding: 0 20px 80px 20px;
  font-size: 3.5em;
}

/* Landing page search bar text */
h4 {
  padding: 0 0 12px;
  font-family: 'Droid Serif', serif;
  font-size: 1.3em;
}

span#appname {
  color: #86A136;
}

/* Landing page search box styling */
#address-search {
  color: rgb(33, 4, 58);
  width: 300px;
  height: 40px;
}

#citystatezip-search {
  color: rgb(33, 4, 58);
  width: 200px;
  height: 40px;
}

/* Landing search button */
#search-button {
  color: rgb(33, 4, 58);
  font-weight: bold;
  width: 100px;
  height: 41px;
  background-color: #9479AB;
  border: none;
  border-radius: 4px;
}

/* Address on details page */
#address {
  height: 35px;
  font-size: 1.3em;
  text-align: center;
  /*padding: 5px 0 5px 0;*/
  background-color: #21043A;
  color: #ffffff;
}

/* Monthly payment amount on details page */
div #monthly-payment {
  padding: 10px 0 10px;
  height: 45px;
}

#monthly-payment {
  font-size: 2em;
}

/* Avg rent amounts on details page */
#avg-rent-by-br {
  font-size: 2em;
}

div #avg-rent-by-br {
  height: 45px;
}
