<!DOCTYPE html>
<html>
  <head>
    <title>Investable: Find your next rental property real estate investment.</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="static/css/styles.css">
  </head>
  <body>
    <div class="container-fluid">
    <div class="alert" id="div-message" hidden></div>

    {% block body %}
  <!--   navigation bar at the top
    left: Home Search / Mortgage vs. Rent / Historical Prices
    right: Login or Register / Account Details and Logout -->
    {% endblock %}
    </div>

    <script src="https://code.jquery.com/jquery.js"></script>
    <script async defer
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDdKt99-M_XnUmWYWLJc8Rmd3zwu16gh-c&callback=initMap"></script>
    <script src="/static/js/scripts.js"></script>
  </body>
</html>
