<!DOCTYPE html>
<html>
  <head>
    <title>Investable: Find your next rental property investment.</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="static/css/styles.css">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:700|Playfair+Display" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Droid+Serif" rel="stylesheet">
  </head>
  <body>
    <div class="container-fluid">
    <div class="alert" id="div-message" hidden></div>

    {% block body %}
    {% endblock %}
    </div>

    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script async defer
      src="https://maps.googleapis.com/maps/api/js?key={{ GMAPS_JS }}&callback=initMap"></script>
    <script src="/static/js/scripts.js"></script>
  </body>
</html>
