{% extends 'base.html' %}

{% block body %}

<div class="row page">
  <div id="account-page" class="page col-xs-12">
    <p>Account Details</p>
      <div id="firstlastname">firstname lastname</div>
      <div id="email">email</div>
  </div>
</div>

<div class="row page">
  <div id="login-register-page" class="page col-xs-12">
    <div id="login-page">
      <p>Log In</p>
      <form id="log-in">
        <input type="textbox" id="email" placeholder="Email" required><br>
        <input type="password" id="password" placeholder="Password" required><br>
        <input id="login" type="submit" value="Log In">
      </form>
      Haven't created an account yet? <a href="#registration-page">Register here.</a>
    </div>
    <div id="registration-page">
      <p>Register</p>
      <form id="log-in">
        <input type="firstname" id="firstname" placeholder="First Name" required><br>
        <input type="lastname" id="lastname" placeholder="Last Name" required><br>
        <input type="textbox" id="email" placeholder="Email" required><br>
        <input type="password" id="password" placeholder="Password" required><br>
        <input id="register" type="submit" value="Register">
      </form>
    </div>
  </div>
</div>

<div class="row page">
  <div id="search-page" class="page col-xs-12">
    <!-- large, centered on fullscreen page -->
    <p>Search a property by location<!--, neighborhood,--> or city:</p>
    <form id="search-bar">
      <input type="textbox" id="address-search" placeholder="Address">
      <input type="textbox" id="citystatezip-search" placeholder="City, State or Zipcode" required>
      <!-- modify required text warning to "a city, state, or zipcode is required to search" -->
      <!--   change this to a keyboard stroke of 'enter' instead of having submit button -->
      <input id="search" type="submit" value="Search">
    </form>
    <!-- search bar goes here -->
  </div>
</div>

<div class="row page">
  <div id="property-details-page" class="page col-xs-12">
  <div id="map-notification"></div>
  <div id="map"></div>
    Property Price: <span id="list-price"></span><br>
    <form id="mortgage-calculator">
      Your Annual Interest Rate: <div class="input-box"><input type="number" id="mortgage-rate" placeholder="5.00" maxlength="5" min="0" step="any" required><span class="percent">%</span></div><br>
      Your Downpayment: <div class="input-box"><span class="currency">$</span><input type="number" id="mortgage-downpayment" placeholder="0" maxlength="1" min="0" required></div><br>
      Your Loan Type:
        <select id="mortgage-loan-type">
          <option value="40-fixed">40-Year Fixed</option>
          <option value="30-fixed" selected="selected">30-Year Fixed</option>
          <option value="25-fixed">25-Year Fixed</option>
          <option value="20-fixed">20-Year Fixed</option>
          <option value="15-fixed">15-Year Fixed</option>
          <option value="10-fixed">10-Year Fixed</option>
        </select>
      <br>
      <input type="submit" value="Calculate">
    </form>
      Filter by Price: <input type="text" id="amount" readonly style="border:0; color:#f6931f; font-weight:bold;">
      <div id="slider-range"></div>
      <br>
      Filter by # Bedrooms:
        <select id="bedroom-filter">
          <option value="0">0</option>
          <option value="1">1+</option>
          <option value="2">2+</option>
          <option value="3">3+</option>
          <option value="4">4+</option>
          <option value="5">5+</option>
        </select>
      <br>
      Filter by # Bathrooms:
        <select id="bathroom-filter">
          <option value="1">1+</option>
          <option value="2">2+</option>
          <option value="3">3+</option>
          <option value="4">4+</option>
          <option value="5">5+</option>
        </select>
      <br>
      Bedrooms: <span id="bedrooms"></span><br>
      Bathrooms: <span id="bathrooms"></span><br>
      Sqft: <span id="sqft"></span><br>
      HOA: <span id="hoa"></span><br>
      Monthly Mortgage Payment: <span id="monthly-payment"></span><br>
      Total Mortgage Payment: <span id="total-payment"></span><br>
      Average Rent Per Month (for homes with the same # of bedrooms): <span id="avg-rent-by-br"></span><br>
      Average Rent Per Month (for homes in the same sqft range): <span id="avg-rent-by-sqft"></span>
  </div>
</div>


{% endblock %}
