{% extends 'base.html' %}

{% block body %}

<div class="row page">
  <div id="search-page" class="page col-xs-12">
    <!-- large, centered on fullscreen page -->
    <p>Search a property by location, neighborhood, or city:</p>
    <form id="search-bar">
      <input type="textbox" id="address-search" placeholder="Address">
      <input type="textbox" id="citystatezip-search" placeholder="City, State or Zipcode" required>
      <!-- modify required text warning to "a city, state, or zipcode is required to search" -->
      <!--   change this to a keyboard stroke of 'enter' instead of having submit button -->
      <input type="submit" value="Search">
    </form>
    <!-- search bar goes here -->
  </div>
</div>

<div class="row page">
  <div id="property-details-page" class="page col-xs-12">
    Property Price: <span id="list-price"></span><br>
    <form id="mortgage-calculator">
      Your Mortgage Rate: <input type="textbox" id="mortgage-rate"><br>
      Your Downpayment: <input type="textbox" id="mortgage-downpayment"><br>
      Your Loan Type:
        <select id="mortgage-loan-type">
          <option value="30-fixed">30-Year Fixed</option>
          <option value="15-fixed">15-Year Fixed</option>
        </select>
      <br>
      <input type="submit" value="Calculate">
    </form>
      Monthly Mortgage Payment: <span id="monthly-payment"></span><br>
      Average Rent Per Month: <span id="avg-rent"></span><br>
  </div>
</div>


{% endblock %}
